<!DOCTYPE HTML>
<HTML>
<HEAD>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<META http-equiv="Content-Script-Type" content="text/javascript">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Language" content="en">
<META name="robots" content="noindex, nofollow">
<LINK href="favicon.ico" rel="shortcut icon" type="image/png">
<link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
<TITLE>AS-TECH Walcome :: Privacy</TITLE>
<LINK href="images/jquery.cluetip.css" rel="stylesheet" type="text/css">
<LINK href="images/jquery.ui.theme.css" rel="stylesheet" type="text/css">
<LINK href="images/jquery_ui.css" rel="stylesheet" type="text/css">
<LINK href="images/jquery.cluetip.css" rel="stylesheet" type="text/css">
<LINK href="images/bootstrap.css" rel="stylesheet" type="text/css">
<LINK href="images/xcart.css" rel="stylesheet" type="text/css">
<LINK href="images/font.css" rel="stylesheet" type="text/css">
<LINK href="images/swiper.min.css" rel="stylesheet" type="text/css">
<LINK href="images/global.css" rel="stylesheet" type="text/css">
<LINK href="http://www.aopled.com/favicon.ico" rel="shortcut icon" type="image/png">
<LINK href="http://www.aopled.com/home.php" rel="canonical">
<style>
body, td, th {
        font-family: Sawarabi Gothi, Arial, Helvetica, sans-serif;
}
 .menu-details .col-md-1 {
     min-height:227px;
 }
</style>
</HEAD>
<BODY class="fancycat-page-skin-icons fancycat-page-subskin-e " id="page-container">

<DIV class="container-fluid" ng-app="ui.bootstrap.app">
    <nav id="header" class="navbar" ng-controller="ContactCtrl">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="images/astech.png"></a>
        </div>
        <DIV id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <LI><A href="Profile.html">会社紹介</A></LI>
                <LI class="dropdown">
                    <A href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        製品紹介<span class="caret"></span>
                    </A>
                    <ul id="dropdown-products" class="dropdown-menu">
                        <li><a href="LED-lamps.html">LED Lamps</a></li>
                        <li><a href="SMD-LED.html">SMD LED</a></li>
                        <li><a href="LED-light.html">LED 照明</a></li>
                    </ul>
                </LI>
                <LI><a href="#" ng-click="open()">お問い合わせ</a></LI>
            </ul>
        </DIV>
    </nav>
    <script type="text/ng-template" id="contactModalContent.html">
<div class="modal-header">
          <h3 class="modal-title" id="modal-title">Contact Us</h3>
      </div>
      <form name="contact-form" ng-submit="submit()">
          <div class="modal-body" id="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="first_name">First Name</label>
                          <input type="text" class="form-control" id="first_name" name="first_name" ng-model="contact.first_name" required="required" />
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="last_name">Last Name</label>
                          <input type="text" class="form-control" id="last_name" name="lastname" ng-model="contact.last_name" required="required" />
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="job_title">Job Title</label>
                          <input type="text" class="form-control" name="job_title" ng-model="contact.job_title" id="job_title"/ >
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="company">Company</label>
                          <input type="text" class="form-control" id="company" name="company" ng-model="contact.company" />
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-6">
                      <div class="form-group">
<label for="email">Email Address</label>
                          <input type="email" class="form-control" id="email" name="email" ng-model="contact.email" required="required" />
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="phone">Telephone</label>
                          <input type="text" class="form-control" id="phone" name="phone" ng-model="contact.phone" required="required"  />
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <div class="form-group">
                          <label for="comment">Questions or Comments</label>
                          <textarea class="form-control" id="comment" name="comment" rows="6" ng-model="contact.comment" required="required"></textarea>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Submit" />
          </div>
      </form>
    </script>
  <DIV class="contact-banner"><img src="images/Terms-banner.jpg"></DIV>
  <DIV class="other-main">
    <H1 class="ac">プライバシー ポリシー</H1>
    <P>尊重し、お客様のプライバシーと www.a-stech.com のユーザーを保護するA-S TECHの方針だ (以下、「当サイト」).このインターネットのプライバシー ステートメントをサイトのユーザーを安心させる、我々 がない販売、共有、または他の人にこのインターネット プライバシー ポリシーに記載の設定とは異なる方法でユーザー情報を借りるしたいです。</p>
    <p><strong>注文および情報の収集を配置します。</strong></p>
    <p>A-S TECHは、サイトでいくつかのポイントでは、サイトのユーザーから情報を収集します。たとえば、我々 は、収集および/またはユーザーが情報を要求します。</p>
    <p><strong>1. 注文</strong></p>
    <p><strong>2。www.a-stech.com サイトに登録</strong></p>
    <p><strong>3。注文状況の通知を要求した</strong></p>
    <p><strong>4。サンプルやカタログを要求</strong></p>
    <p><strong>5。電子メールを送信します。</strong></p>
    <p>上記のインスタンス サイトのユーザーの要求を満たすためには、連絡先やクレジット カード情報を提供するユーザーが要求されるかもしれません。注文、要求を処理または配信を完了に問題があれば、この連絡先情報はA-S TECHユーザーに連絡するために使用されます。</p>
    <p><strong>収集および共有については、外部との共同ブランドのウェブサイトへのリンク</strong></p>
    <p>ユーザーの皆様の出来る最高のショッピング体験を作成する合理化、我々 は、サイトのトラフィック パターンを監視し、傾向を分析し、そのレイアウトやデザインを改善するために、サイトのパーソナライズを許可するサイトの管理集計用の広範な統計情報を収集します。このような個人用設定とサイト デザインとユーザー エクスペリエンスの向上を可能にする解析を実行するために適切な第三者のこれらの目標を達成するために必要な情報を共有を使用できます。これらの統計情報には個人を特定できる情報は含めません。</p>
    <p>ビジネス パートナーと集約された統計情報を共有する適切な場所です。これらの統計情報には個人を特定できる情報は含めません。我々 使用クレジット カード処理会社、サイトから商品やサービスの購入者に請求して商品やサービスの注文に応じて、どこ彼らが出荷されている、我々 が使用外部サプライヤーおよび/または運送会社充実し、注文を提供する私たちを支援します。我々 は彼らと共有このようなカードの処理、納品、商品の配送を有効にするのに必要な情報 (すなわち? 名前、アドレス、および適宜、お支払い情報)。個人を識別する、当社のサイト利用規約、または法律か法的プロセスを保護し、権利と私たちのサイトとそのユーザーの安全を守るために必要な施行など特殊なケースでアカウント情報を提供します。詐欺や信用リスクの軽減のために他の企業との情報交換も含まれます。</p>
    <p><strong>同意</strong></p>
    <p>私たちのサイトを使用して、ユーザーが条件に同意し、条件に掲げるこのインターネット プライバシー ポリシーとサイト用語の使用を含むすべての制限の損害賠償規定を不可欠な部分本とコレクションしA-S TECHとしてこの情報を使用してユーザーの同意は、このインターネット プライバシー ポリシーに開示します。このインターネットのプライバシーに関する声明またはサイトの使用条件これらの投稿を更新することによって、いつでも改訂します。このサイトを使用しては、使用時に有効に任意の変更によって拘束されることに同意して、このページと、サイトのユーザーに適用される、現在のポリシーを決定するサイトの利用規約ページ定期的に訪問する必要がありますしたがって。</p>
    <p><strong>セキュリティ情報</strong></p>
    <p>強力な予防措置を取る私たちのサイトのユーザーの情報を保護するために。ユーザーは、サイトを介して機密情報を送信するとき、その情報はオンラインとオフラインの両方の保護をされています。クレジット カード情報のセキュリティを真剣にして、ショッピングを安全にする私たちのサイトにさまざまな技術ソリューションを使用します。さらに、お客様の情報は暗号化され、業界標準のセキュリティで保護されたソケット レイヤー (SSL) 暗号化ソフトウェアを利用した保護されています。ご注文フォームのセキュリティで保護されたページで Netscape Navigator と Microsoft Internet Explorer などの Web ブラウザーの下部に鍵のアイコンがロックされ、ロックされていない、または開いているではなくときにちょうど 'サーフィン' されています。我々 はオンラインで機密情報を保護するために SSL 暗号化を使用、オフラインのユーザー情報も守ります。上記、機密情報を含む弊社サイトのユーザーの情報のすべては、私たちのオフィスの制限セクションに保持されます。社員情報 (たとえば、当社アカウントまたは顧客サービス担当者) 特定のジョブを実行する必要のあるものだけが個人情報へのアクセスを与えられます。さらに、当社従業員が当社のセキュリティとプライバシー習慣で最新に保た。当サイトのセキュリティについてのご質問があれば、info@a-stech.com に電子メールを送信することができます。</p>
    <p><strong>クッキー</strong></p>
    <p>「クッキー」という言葉を聞いたことがあります。クッキーは、ほとんど、すべてではない電子商取引商人、A-S TECHを含むによって日常的に使用されます。Cookie は、ユーザーを追跡し、あなたの経験を強化するサイトをパーソナライズすることに関する情報を含む Web ブラウザー プログラムを通じてユーザーのハード ドライブに格納されているデータの一部です。例えば、当社のサイトに cookie を設定することにより訪問の間、ショッピング カート内のアイテムのストレージを提供できます。ただし、ユーザーはクッキーを拒否する場合可能性がありますまだ使用当サイトが私たちは cookie のデータを使用してを提供することができますパーソナライズされたショッピング体験をユーザーに提供することになります。クッキーの使用について質問がある場合は、info@a-stech.com にお問い合わせください。</p>
    <p><strong>調査およびコンテスト</strong></p>
    <p>時間に時間からの調査やコンテストを介してサイトのユーザーから情報をいただく場合があります。これらの調査やコンテストへの参加は完全に任意とサイトのユーザーはこの情報を開示するかどうか選択肢を持っています。要求される情報 (名前や配送先住所) などの連絡先の情報と統計情報 (郵便番号や年齢層など) があります。コンテストの入賞者に通知、賞品など、サイトの経験をユーザーを改善するためにサイトのトラフィックを分析するためにそのような情報を使用します。サイトのユーザーは常に彼らはA-S TECHだけでアクセスして、サイトで自分のアカウント情報を更新または info@a-stech.com で私たちのメーリング リストを提供している個人情報を更新できます。</P>
  </DIV>
  </SECTION>
  <FOOTER class="footer">
    <div class="footer-top">
      <div class="clears ac">
        <p>大阪府東大阪市長田東3-2-43 ｜ TEL: 06-6748-3660(代)｜FAX: 06-6747-3670｜<a href="mailto:info@a-stech.com">info@a-stech.com</a></p>
      </div>
    </div>
    <DIV class="footer-bottom clears">
      <DIV class="fl">
        <P>© 2017 A-S TECH</P>
      </DIV>
      <DIV class="fr">
        <UL>
            <LI><A href="terms.html">TERMS</a></LI>
          <LI><A href="privacy.html">PRIVACY POLICY</A></LI>
        </UL>
      </DIV>
    </DIV>
  </FOOTER>
</DIV>
</BODY>
<SCRIPT src="skin/common_files/common.js"></SCRIPT>
<SCRIPT src="skin/common_files/lib/jquery-min.js"></SCRIPT>
<SCRIPT src="skin/common_files/lib/jquery-ui.js"></SCRIPT>
<SCRIPT src="skin/common_files/lib/bootstrap.js"></SCRIPT>
<SCRIPT src="skin/common_files/lib/jquery_cookie.js"></SCRIPT>
<script src="js/ui-bootstrap-custom-build/angular.min.js"></script>
<script src="js/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
<script src="js/ui-bootstrap-contact.js"></script>
<script src="images/app.js"></script>
</HTML>
