<!DOCTYPE HTML>
<HTML>
<HEAD>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<META http-equiv="Content-Script-Type" content="text/javascript">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Content-Language" content="en">
<META name="robots" content="noindex, nofollow">
<LINK href="favicon.ico" rel="shortcut icon" type="image/png">
<link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
<TITLE>AS-TECH Welcome :: Profile</TITLE>
<LINK href="images/jquery.cluetip.css" rel="stylesheet" type="text/css">
<LINK href="images/jquery.ui.theme.css" rel="stylesheet" type="text/css">
<LINK href="images/jquery_ui.css" rel="stylesheet" type="text/css">
<LINK href="images/jquery.cluetip.css" rel="stylesheet" type="text/css">
<LINK href="images/bootstrap.css" rel="stylesheet" type="text/css">
<LINK href="images/xcart.css" rel="stylesheet" type="text/css">
<LINK href="images/font.css" rel="stylesheet" type="text/css">
<LINK href="images/swiper.min.css" rel="stylesheet" type="text/css">
<LINK href="images/global.css" rel="stylesheet" type="text/css">
<LINK href="http://www.aopled.com/favicon.ico" rel="shortcut icon" type="image/png">
<LINK href="http://www.aopled.com/profile.html" rel="canonical">
<style>
body, td, th {
    font-family: Sawarabi Gothi, Arial, Helvetica, sans-serif;
}
.menu-details .col-md-1 {
    min-height:227px;
}
</style>
</HEAD>
<BODY class="fancycat-page-skin-icons fancycat-page-subskin-e " id="page-container">

<DIV class="container-fluid" ng-app="ui.bootstrap.app">
  <nav id="header" class="navbar" ng-controller="ContactCtrl">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="images/astech.png"></a>
      </div>
      <DIV id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <LI><A href="Profile.html">会社紹介</A></LI>
              <LI class="dropdown">
                  <A href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      製品紹介<span class="caret"></span>
                  </A>
                  <ul id="dropdown-products" class="dropdown-menu">
                      <li><a href="LED-lamps.html">LED Lamps</a></li>
                      <li><a href="SMD-LED.html">SMD LED</a></li>
                      <li><a href="LED-light.html">LED 照明</a></li>
                  </ul>
              </LI>
              <LI><a href="#" ng-click="open()">お問い合わせ</a></LI>
          </ul>
      </DIV>
  </nav>

  <script type="text/ng-template" id="contactModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Contact Us</h3>
      </div>
      <form name="contact-form" ng-submit="submit()">
          <div class="modal-body" id="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="first_name">First Name</label>
                          <input type="text" class="form-control" id="first_name" name="first_name" ng-model="contact.first_name" required="required" />
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="last_name">Last Name</label>
                          <input type="text" class="form-control" id="last_name" name="lastname" ng-model="contact.last_name" required="required" />
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="job_title">Job Title</label>
                          <input type="text" class="form-control" name="job_title" ng-model="contact.job_title" id="job_title"/ >
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="company">Company</label>
                          <input type="text" class="form-control" id="company" name="company" ng-model="contact.company" />
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="email">Email Address</label>
                          <input type="email" class="form-control" id="email" name="email" ng-model="contact.email" required="required" />
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <div class="form-group">
                          <label for="phone">Telephone</label>
                          <input type="text" class="form-control" id="phone" name="phone" ng-model="contact.phone" required="required"  />
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <div class="form-group">
                          <label for="comment">Questions or Comments</label>
                          <textarea class="form-control" id="comment" name="comment" rows="6" ng-model="contact.comment" required="required"></textarea>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Submit" />
          </div>
      </form>
  </script>
  <DIV class="contact-banner"> <IMG src="images/Profile-banner.png"> </DIV>
  <DIV class="our-history">
    <H2 class="ac">私たちの歴史</H2>
    <DIV class="row">
      <DIV class="col-sm-6">
        <P>会社名:     有限会社 エー・エス・テック<br>
          創立者:       天野 工<br>
          代表取締役:	Jay Huang<br>
          所在地:     大阪府東大阪市長田東3-2-43<br>
          TEL:     06-6748-3660(代)<br>
          FAX:     06-6747-3670<br>
          設立:     2000年</P>
      </DIV>
      <DIV class="col-sm-6">
        <P>1995年からLEDを中心とする電子部品の輸入販売をスタートしました。<br>
          当初、日本メーカと同等或いはそれ以上の品質レベルを目標に、海外電子部品メーカーの製品を徹底的に研究いたしました。<br>
          その結果、台湾LEDメーカーの一つであるSANDER ELECTRONICS(三得電子)とのタイアップを開始しました。<br>
          品質レベルを1~3 PPMを目標に品質改善を繰り返し、ある案件で約 300万個ご使用で 1個の NG という品質レベルが達成できたのを契機に、有限会社エー・エス・テックを設立いたしました。</P>
      </DIV>
    </DIV>
  </DIV>
  <DIV class="contact-main profile-main">
    <DIV class="row">
      <DIV class="col-sm-6"><img src="images/LEDTECH.png" height="380"></DIV>
      <DIV class="col-sm-6">
        <DIV class="contact-box">
          <H1>最先端の技術</H1>
          <P>その後 LED も年々高輝度化が進み、交通信号機に LED が使用される事になり、益々LED 応用製品の多様化が図られ、弊社でも2003 年初めより高輝度 LED を使用したLED 電球を発売しました。 <br>
            2016年より、長年のパートナーであるSANDER ELECTRONICSと合併を行い、より多くのSANDER ELECTRONICS製品を日本市場に提供すると共に、高品質な新商品の創出を目指します。</P>
        </DIV>
      </DIV>
    </DIV>
    <DIV class="row">
      <DIV class="col-sm-6">
        <DIV class="contact-box">
          <H1>設計支援</H1>
          <P>SANDER ELECTRONICSは高品質と優れたオーダーメイド商品製造技術を武器に、北米、南米、ヨーロッパ、中東、アフリカ、アジア、オセアニアの30か国以上でサービスを提供しています。アメリカ、ヤンキーススタジアムのLEDディスプレイや日本の大阪通天閣のLED等、SANDER ELECTRONICSの名前を聴いたことが無い方も、SANDER ELECTRONICSの放つ光を見たことはあるのではないでしょうか。</P>
        </DIV>
      </DIV>
      <DIV class="col-sm-6"><img src="images/SERVICE.PNG" height="380"></DIV>
    </DIV>
    <DIV class="row">
      <DIV class="col-sm-6"><img src="images/CUSTOMER.png" height="380"></DIV>
      <DIV class="col-sm-6">
        <DIV class="contact-box">
          <H1> OEMサービス</H1>
          <P> エーエステックではLEDディスプレイ等のOEMサービスを行っています。

            パートナーであるSANDER ELECTRONICS共に様々な製品をお客様に提供してきました。

            お客様からの厳しい品質要求に応えるため、品質管理部門と連携し、徹底した品質管理を実施しております。

            豊富な経験が高度な技術力と安定した品質を保証いたします。</P>
        </DIV>
      </DIV>
    </DIV>
    <DIV class="row">
      <DIV class="col-sm-6">
        <DIV class="contact-box">
          <H1> ODMサービス</H1>
          <P> エーエステックはOEMと共にODMでお客様をサポート致します。

            新規LED製品開発をお考えのお客様はご気軽にご連絡ください。

            主にLEDディスプレイ、LED照明(投光器等)、PCB設計を得意とし、世界中に製品を提供しています。

            SANDER ELECTRONICSとは長期に渡り各種LEDの研究を行ってきました。お客様に合ったオリジナルのLEDを作製致します。

            弊社ではLED製品提案、開発、製造を一貫して行います。適切な価格で高品質の商品をお客様に提供いたします。</P>
        </DIV>
      </DIV>
      <DIV class="col-sm-6"> <img src="images/ASSEMBLY.png" height="380"></DIV>
    </DIV>
    <DIV class="profile-mini-banner-05">
      <H1>エー・エス・テックについて</H1>
      <P>今後エーエステックはSANDER ELECTRONICSのサポートを受けながら商品ラインナップを増やし、OEM/ODMサービスを提供します。
        また弊社ではSANDER ELECTRONICSのグローバルネットワークを活かし、日本の素晴らしい商品を、世界中に提供する輸出入業務も行っております。</P>
    </DIV>
  </DIV>
  </SECTION>
  <FOOTER class="footer">
    <div class="footer-top">
      <div class="clears ac">
        <p>大阪府東大阪市長田東3-2-43 ｜ TEL: 06-6748-3660(代)｜FAX: 06-6747-3670｜<a href="mailto:info@a-stech.com">info@a-stech.com</a></p>
      </div>
    </div>
    <DIV class="footer-bottom clears">
      <DIV class="fl">
        <P>© 2017 A-S TECH </P>
      </DIV>
      <DIV class="fr">
        <UL>
          <LI><a href="terms">TERMS</a></LI>
          <LI><A href="privacy.html">PRIVACY POLICY</A></LI>
        </UL>
      </DIV>
    </DIV>
  </FOOTER>
</DIV>
<SCRIPT src="skin/common_files/common.js"></SCRIPT>
<SCRIPT src="skin/common_files/lib/jquery-min.js"></SCRIPT>
<SCRIPT src="skin/common_files/lib/jquery-ui.js"></SCRIPT>
<SCRIPT src="skin/common_files/lib/bootstrap.js"></SCRIPT>
<SCRIPT src="skin/common_files/lib/jquery_cookie.js"></SCRIPT>
<script src="js/ui-bootstrap-custom-build/angular.min.js"></script>
<script src="js/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
<script src="js/ui-bootstrap-contact.js"></script>
<script src="images/app.js"></script>
</BODY>
</HTML>
