article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
html {
	font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h1 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h2 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h3 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h4 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h5 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
h6 {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
hr {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
p {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
blockquote {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
dl {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
dt {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
dd {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
ul {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
ol {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
li {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
pre {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
form {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
fieldset {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
legend {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
button {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
input {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
textarea {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
th {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
td {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
img {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
button {
	margin: 0px; font-size: 100%; vertical-align: middle;
}
input {
	margin: 0px; font-size: 100%; vertical-align: middle;
}
select {
	margin: 0px; font-size: 100%; vertical-align: middle;
}
textarea {
	margin: 0px; font-size: 100%; vertical-align: middle;
}
button {
	line-height: normal;
}
input {
	line-height: normal;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='search'] {
	-webkit-appearance: textfield;
}
textarea {
	overflow: auto; vertical-align: top;
}
body {
	font: 12px/1.5 "Sawarabi Gothic", Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 12px/1.5 "Sawarabi Gothic", Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px/1.5 "Sawarabi Gothic", Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/1.5 "Sawarabi Gothic", Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 12px/1.5 "Sawarabi Gothic", Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
select {
	-webkit-appearance: menulist-button;
}
h1 {
	margin: 0px; color: inherit; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h2 {
	margin: 0px; color: inherit; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h3 {
	margin: 0px; color: inherit; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h4 {
	margin: 0px; color: inherit; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h5 {
	margin: 0px; color: inherit; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h6 {
	margin: 0px; color: inherit; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h1 small {
	color: rgb(153, 153, 153); font-weight: normal;
}
h2 small {
	color: rgb(153, 153, 153); font-weight: normal;
}
h3 small {
	color: rgb(153, 153, 153); font-weight: normal;
}
h4 small {
	color: rgb(153, 153, 153); font-weight: normal;
}
h5 small {
	color: rgb(153, 153, 153); font-weight: normal;
}
h6 small {
	color: rgb(153, 153, 153); font-weight: normal;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
a {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:link {
	color: rgb(0, 0, 0);
}
a:visited {
	color: rgb(0, 0, 0);
}
a:hover {
	color: rgb(29, 117, 183); text-decoration: underline;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
textarea {
	resize: none;
}
input {

}
button {

}
select {

}
textarea {

}
::selection {
	background: rgb(26, 137, 222); color: rgb(255, 255, 255); text-shadow: none;
}
.clears {
	-ms-zoom: 1;
}
.clears::after {
	margin: 0px; padding: 0px; height: 0px; line-height: 0; overflow: hidden; clear: both; font-size: 0px; display: block; content: ".";
}
.al {
	text-align: left;
}
.ar {
	text-align: right;
}
.ac {
	text-align: center;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.underline {
	text-decoration: underline;
}
.vm {
	height: 100%; vertical-align: middle;
}
.width-100 {
	width: 100%;
}
.pointer {
	cursor: pointer;
}
.hide {
	display: none;
}
.upp {
	text-transform: uppercase;
}
.div-table {
	width: 100%; height: 100%; display: table;
}
.table-cell {
	vertical-align: middle; display: table-cell;
}
body {
	background-color: rgb(249, 249, 249);
}
#wrap {
	margin: 0px auto; width: 1300px; background-color: rgb(255, 255, 255);
}
.form-control {
	font-family: "Sawarabi Gothic";
}
#wp-header {

}
#header {
    color: rgb(255, 255, 255); background-color: rgb(29, 117, 183);
    margin-bottom: 0px;
    border-radius: 0px;
}
#header a {
	color: rgb(255, 255, 255);
    font-size: 14px;
    letter-spacing: 1px;
}
.header-top {
	padding: 22px 40px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.header-top .form-control {
	border-radius: 0px; height: 38px;
}
.header-top p {
	line-height: 38px; font-size: 16px;
}
.header-top .form-group {
	padding-left: 18px; position: relative;
}
.header-btn {
	top: 8px; right: 8px; color: rgb(102, 102, 102); font-size: 18px; position: absolute; background-color: transparent;
}
.header-nav {
	padding: 0px 10px 0px;
}
.header-nav li {
	letter-spacing: 1px; font-size: 14px; display: inline-block;
}
.header-nav li a {
	display: block; position: relative;
}
#logo {
	display: block; max-width: 175px;
}
#logo img {
	max-width: 100%;
}
.navbar-nav > li > .dropdown-menu,
.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgb(29, 117, 183);
}
.dropdown-menu > li > a:hover {
    background-color: rgb(29, 117, 183);
    text-decoration: underline;
}
.navbar-nav > li > a:hover {
    text-decoration: underline;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgb(29, 117, 183);
}
#nav {
    height: 100px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 1300px;
}
.navbar-toggle {
    height: 84px;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
#nav > li {
	padding-left: 35px; display: inline-block; line-height: 150px;
}
#nav > li > a {
	padding: 0px 30px; text-transform: uppercase; position: relative;
}
#nav dl {
	transition:0.3s; padding-top: 15px; padding-bottom: 15px; border-top-color: rgb(97, 159, 205); border-top-width: 1px; border-top-style: solid; position: absolute; z-index: -1; opacity: 0; background-color: rgb(29, 117, 183);
}
#nav > li:hover dl {
	display: block; z-index: 99; opacity: 1;
}
#nav dl dd {
	padding: 7px 0px;
}
#nav dl a {
	text-transform: uppercase; padding-right: 30px; padding-left: 30px; font-size: 15px; white-space: nowrap;
}
.contact-banner img {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.col-sm-6 img {
    width: 100%;
    overflow: hidden;
}
#wp-content {

}
#content {

}
.content {

}
.banner-text {
	top: 0px; width: 100%; bottom: 0px; color: rgb(255, 255, 255); position: absolute; z-index: 99;
}
.banner-text .col-xs-5 {
	background-color: rgba(255, 255, 255, 0.95);
}
.banner-text h2 {
	padding: 20px; color: rgb(51, 51, 51); font-family: "Sawarabi Gothic"; font-size: 40px;
}
.banner-text p {
	padding: 0px 20px 20px; color: rgb(102, 102, 102); line-height: 26px; font-size: 15px;
}
a.btn-primary {
	color: rgb(255, 255, 255);
}
.btn-primary {
	padding: 14px 12px 11px; text-transform: uppercase; font-family: "Hind-Bold"; font-size: 13px; min-width: 190px;
}
.featured {
	padding: 65px 0px;
}
.featured h2 {
	padding-bottom: 40px; font-family: "Sawarabi Gothic"; font-size: 40px; font-weight: 400;
}
.featured .list-group a.list-group-item {
    font-size: 16px;
}
.featured-row {
	padding-left: 25px;
}
.featured-box {
	width: 280px; margin-top: 30px; margin-right: 15px; margin-left: 15px; display: inline-block;
}
.featured-box p {
	padding: 15px; font-size: 15px;
}
.mini-banner-box {
	background-position: center; background-repeat: no-repeat; background-size: cover;
}
.mini-banner-01 {
	background-image: url("../../_images/mini-banner-01.jpg");
}
.mini-banner-02 {
	background-image: url("../../_images/mini-banner-02.jpg");
}
.mini-banner .div-table {
	height: 275px;
}
.mini-banner > .div-table > .table-cell {
	width: 50%;
}
.mini-banner-box h3 {
	line-height: 40px; font-family: "Sawarabi Gothic"; font-size: 36px; font-weight: 400;
}
.mini-banner-box p {
	line-height: 24px; padding-top: 15px; font-size: 15px;
}
.lastest-news {
	padding: 65px 0px;
}
.lastest-news h2 {
	padding-bottom: 40px; font-family: "Sawarabi Gothic"; font-size: 40px; font-weight: 400;
}
.lastest-news {

}
.lastest-news-box {
	position: relative;
}
.lastest-news-box p {
	padding: 0px 24px; left: 0px; top: 0px; text-align: left; right: 0px; bottom: 0px; color: rgb(255, 255, 255); font-family: "Sawarabi Gothic"; font-size: 15px; position: absolute;
}
.lastest-news-box p strong {
	line-height: 36px; padding-top: 20px; padding-bottom: 10px; font-family: "Sawarabi Gothic"; font-size: 24px; font-weight: 300; display: block;
}
.lastest-news-box p span {
	font-family: "Sawarabi Gothic"; font-size: 15px;
}
.lastest-news-box a {
	display: block; position: relative;
}
.lastest-news-box a::before {
	left: 0px; top: 0px; right: 0px; bottom: 0px; display: block; position: absolute; content: ""; background-color: rgba(0, 0, 0, 0.5);
}
.lastest-news-box img {
	max-width: 100%;
}
.home-bottom {
	padding-bottom: 80px;
}
.lastest-news .swiper-button-prev {
	left: 40px; right: auto;
}
.lastest-news .swiper-button-next {
	left: auto; right: 40px;
}
.product-top {
	padding: 30px 40px;
}
.product-top-nav li {
	font-family: "Sawarabi Gothic"; font-size: 15px; display: inline-block;
}
.product-top-nav li a {
	color: rgb(102, 102, 102);
}
.product-detail-main {
	padding: 40px 60px;
}
.product-detail-main h1 {
	padding-bottom: 30px; font-family: "Sawarabi Gothic"; font-size: 40px; font-weight: 300;
}
.product-detail-main {

}
.product-detail-main {

}
.product-detail-info {
	width: 865px;
}
.product-detail-info {

}
.product-detail-info table {
	width: 100%; font-size: 15px; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid;
}
.product-detail-info table tr th {
	padding: 10px 0px; vertical-align: bottom; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid;
}
.product-detail-info table tr th:first-child {
	padding-left: 0px;
}
.product-detail-info table tr td:first-child {
	padding-left: 0px;
}
.product-detail-info table tr td {
	padding: 10px 0px;
}
.product-detail-info table tr > td:nth-child(2) {
	border-right-color: rgb(51, 51, 51); border-right-width: 1px; border-right-style: solid;
}
.product-detail-info table tr > td:nth-child(3) {
	text-align: center; padding-right: 25px; padding-left: 25px; border-right-color: rgb(51, 51, 51); border-right-width: 1px; border-right-style: solid;
}
.product-detail-info table tr > td:nth-child(4) {
	text-align: center; padding-right: 25px; padding-left: 25px; border-right-color: rgb(51, 51, 51); border-right-width: 1px; border-right-style: solid;
}
.product-detail-info table tr > td:nth-child(5) {
	text-align: center; padding-right: 25px; padding-left: 25px; border-right-color: rgb(51, 51, 51); border-right-width: 1px; border-right-style: solid;
}
.product-detail-info table tr > td:last-child {
	text-align: center; padding-right: 25px; padding-left: 25px;
}
.product-detail-info table tr > td:last-child.al {
	text-align: left; padding-left: 0px;
}
.product-detail-info table tr th:nth-child(3) {
	text-align: center;
}
.product-detail-info table tr th:nth-child(4) {
	text-align: center;
}
.product-detail-info table tr th:nth-child(5) {
	text-align: center;
}
.product-detail-info table tr th:last-child {
	text-align: center;
}
.product-detail-info {

}
.product-detail-info .btn {
	min-width: 60px;
}
.color-block {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 32px; height: 32px; margin-right: 5px; vertical-align: middle; display: inline-block;
}
.recently-viewed {

}
.recently-viewed h1 {
	margin: 0px 40px; padding: 15px 0px; font-family: "Sawarabi Gothic"; font-size: 40px; font-weight: 300; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid;
}
.detail-text {
	border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid;
}
.detail-text p {
	padding: 15px 0px; font-family: "Sawarabi Gothic"; font-size: 15px;
}
.detail-text .fl {
	width: 520px;
}
.detail-text .fr {
	width: 340px;
}
.detail-bottom {
	padding-top: 30px;
}
.detail-bottom .btn {
	padding-right: 30px; padding-left: 30px; margin-right: 17px;
}
.category-main {

}
.category-main h2 {
	padding-bottom: 15px;
}
.category-main p.ac {
	margin: 0px auto; width: 660px; padding-bottom: 40px; font-size: 15px;
}
.contact-main .row {
	width: 100%;
}
.contact-box {
    min-height: 380px;
    padding: 85px 90px;
    text-align: justify;
}
.contact-box p {
	font-family: "Sawarabi Gothic"; font-size: 15px;
}
.contact-bottom {
	padding-top: 110px; padding-bottom: 70px;
}
.contact-bottom h3 {
	text-transform: capitalize; font-family: "Sawarabi Gothic"; font-size: 30px; font-weight: 300;
}
.contact-bottom p {
	margin: 0px auto; padding: 10px 0px; width: 380px; line-height: 24px; font-family: "Sawarabi Gothic"; font-size: 15px;
}
.contact-bottom .form-control {
	border-radius: 0px; min-height: 40px; box-shadow: none;
}
.contact-bottom label {
	font-family: "Sawarabi Gothic"; font-size: 15px; font-weight: 300;
}
.contact-form-box {
	margin: 0px auto; width: 760px;
}
.contact-bottom .form-group {
	margin-bottom: 25px;
}
.contact-bottom .form-group p {
	padding-top: 20px;
}
.sub-category {

}
.sub-category .form-control {
	border-radius: 0px; width: 200px; display: inline-block;
}
.sub-category-top p {
	font-family: "Sawarabi Gothic"; font-size: 15px;
}
.sub-category-top p span {
	padding-right: 8px; display: inline-block;
}
.sub-category-top .fr {
	width: 295px; text-align: right;
}
.sub-category table {
	width: 100%;
}
.sub-category th {
	font-family: "Sawarabi Gothic"; font-size: 16px; font-weight: 300; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid;
}
.sub-category td {
	font-family: "Sawarabi Gothic"; font-size: 16px; font-weight: 300; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid;
}
.sub-category th {
	padding: 5px 0px;
}
.sub-category td {
	padding: 17px 0px;
}
.our-history {
	padding: 80px; color: rgb(51, 51, 51);
}
.our-history .fl {
	width: 50%; box-sizing: border-box;
}
.our-history :first-child.fl {
	padding-right: 20px;
}
.our-history h2 {
	padding-bottom: 30px; font-family: "Sawarabi Gothic"; font-size: 40px; font-weight: 300;
}
.our-history p {
	line-height: 24px; font-family: "Sawarabi Gothic"; font-size: 15px; font-weight: 300;
}
.profile-01 {
	background-position: center; padding: 70px 0px; position: relative; background-image: url("../../_images/Profile-01.jpg"); background-repeat: no-repeat; background-size: cover;
}
.profile-01 h2 {
	margin: 0px auto; width: 1100px; color: rgb(255, 255, 255); line-height: 48px; font-family: "Sawarabi Gothic"; font-size: 30px; font-weight: 300;
}
.profile-01::after {
	background: url("../../_images/arrow-img.png"); left: 50%; width: 65px; height: 39px; bottom: -38px; margin-left: -32px; display: block; position: absolute; content: "";
}
.profile-main {

}
.profile-main .table-cell {
	background-size: cover;
}
.profile-main .table-cell h1 {
	line-height: 24px; padding-bottom: 10px; font-family: "Sawarabi Gothic"; font-size: 36px; font-weight: 300;
}
.profile-main .table-cell p {
	font-family: "Sawarabi Gothic"; font-size: 15px; font-weight: 300;
}
.profile-main .col-sm-6 {
    padding: 0px;
}
.profile-main :nth-child(1).row :nth-child(2).col-sm-6 {
	color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);
}
.profile-main :nth-child(2).row :nth-child(1).col-sm-6 {
	color: rgb(255, 255, 255); background-color: rgb(29, 117, 183);
}
.profile-main :nth-child(3).row :nth-child(2).col-sm-6 {
	color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);
}
.profile-main :nth-child(4).row :nth-child(1).col-sm-6 {
	color: rgb(255, 255, 255); background-color: rgb(29, 117, 183);
}
.profile-mini-banner-05 {
    padding: 80px;
    text-align: justify;
}
.profile-mini-banner-05 h1 {
	font-family: "Sawarabi Gothic"; font-size: 36px; font-weight: 300; margin: 0 auto; max-width: 700px;
}
.profile-mini-banner-05 p {
	line-height: 24px; font-family: "Sawarabi Gothic"; font-size: 16px; font-weight: 300; margin: 0 auto; max-width: 700px;
}
.profile-bottom {
	background: url("../../_images/Profile-bottom.jpg") no-repeat center / cover; padding: 60px 160px; color: rgb(255, 255, 255);
}
.profile-bottom h1 {
	font-family: "Sawarabi Gothic"; font-size: 36px; font-weight: 300;
}
.profile-bottom p {
	line-height: 24px; font-family: "Sawarabi Gothic"; font-size: 16px; font-weight: 300;
}
.profile-bottom h3 {
	text-transform: uppercase; padding-top: 30px; padding-bottom: 20px; font-size: 15px;
}
.profile-bottom ul {
	display: inline-block;
}
.profile-bottom ul.child-ul-01 {
	width: 180px;
}
.profile-bottom ul.child-ul-02 {
	width: 240px;
}
.profile-bottom ul.child-ul-03 {
	width: 320px;
}
.profile-bottom ul.child-ul-04 {

}
.profile-bottom li {
	line-height: 30px; font-size: 16px;
}
.profile-bottom li a {
	color: rgb(255, 255, 255);
}
.dealer-locator {
	padding: 0px 40px 40px;
}
.dealer-locator-top {
	padding: 30px 25px 0px; border: 1px solid rgb(204, 204, 204); border-image: none; font-size: 15px; background-color: rgb(248, 248, 248);
}
.dealer-locator-top label {
	color: rgb(29, 117, 183); font-weight: 400; display: block;
}
.dealer-locator-top .radio {
	padding-top: 3px; margin-right: 15px; display: inline-block;
}
.dealer-locator-top .radio label {
	color: rgb(102, 102, 102);
}
.dealer-locator-top input[type='radio'] {
	margin-top: 0px;
}
.dealer-locator-top .btn-primary {
	padding: 11px 12px 9px; min-width: 100%;
}
.dealer-locator-top .form-control {
	height: 40px;
}
.form-control {
	border-radius: 0px;
}
.dealer-locator-map {
	margin: 0px auto; padding: 30px 0px; width: 900px;
}
.dealer-locator-map iframe {
	margin: 0px auto; border: currentColor; border-image: none;
}
#states {

}
#states a {
	cursor: pointer;
}
#states a.inverse text {
	fill: #222222;
}
#states a line {
	stroke: #444; stroke-width: 1px;
}
#states a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
#states a:hover path {
	transition:fill 0.5s; text-decoration: underline; cursor: pointer; fill: #1173bb !important; -webkit-transition: fill .5s ease; -moz-transition: fill .5s ease;
}
#states a path {
	transition:fill 0.5s; fill: #c6e2f6; -webkit-transition: fill .5s ease; -moz-transition: fill .5s ease;
}
#states a:hover text {
	color: rgb(255, 255, 255); text-decoration: none; fill: #ffffff;
}
#states a.inverse text {
	fill: #222222;
}
#states a line {
	stroke: #444; stroke-width: 1px;
}
.dealer-locator-list {
	padding-top: 15px;
}
.dealer-locator-list th {
	font-size: 15px;
}
.dealer-locator-list td {
	font-size: 15px;
}
.dealer-locator-list th {
	padding: 12px 15px !important; color: rgb(29, 117, 183); font-weight: 400; border-bottom-color: currentColor !important; border-bottom-width: medium !important; border-bottom-style: none !important; background-color: rgb(230, 243, 252);
}
.dealer-locator-list td {
	padding: 30px 15px !important; font-weight: 300; border-top-color: currentColor !important; border-bottom-color: rgb(204, 204, 204); border-top-width: medium !important; border-bottom-width: 1px; border-top-style: none !important; border-bottom-style: solid;
}
.dealer-locator-list h5 {
	padding-bottom: 15px; font-size: 20px; font-weight: 300;
}
.dealer-locator-list h5 strong {
	font-weight: 600;
}
.dealer-locator-list a {
	color: rgb(29, 117, 183);
}
.other-main {
	margin: 0px auto; padding: 20px 15px; max-width: 1180px;
}
.other-main h1 {
	padding: 40px 0px; font-family: "Sawarabi Gothic"; font-size: 40px; font-weight: 300;
}
.other-main p {
	padding-bottom: 5px; font-family: "Sawarabi Gothic"; font-size: 16px; font-weight: 300;
}
.other-main p strong {
	text-transform: uppercase; font-family: "Sawarabi Gothic"; font-weight: 400;
}
.other-main p span {
	padding-left: 30px; display: inline-block;
}
.cross-refer-table {

}
.cross-refer-table thead th {
	padding: 10px 15px; color: rgb(29, 117, 183); font-weight: 600; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; background-color: rgb(230, 243, 252);
}
.cross-refer-table tbody td {
	padding: 10px 15px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.news-main {
	padding: 40px 60px;
}
.news-main img {
	max-width: 100%;
}
.news-main h1 {
	font-size: 40px; font-weight: 300;
}
.news-left {
	width: 800px;
}
.news-left img {
	max-width: 300px;
}
.news-left .fl {
	width: 300px;
}
.news-left .fr {
	width: 475px;
}
.news-left h2 {
	color: rgb(29, 117, 183); padding-bottom: 10px; font-size: 24px; font-weight: 400;
}
.news-left h2 a {
	color: rgb(29, 117, 183); padding-bottom: 10px; font-size: 24px; font-weight: 400;
}
.news-left h3 {
	padding-bottom: 20px; font-size: 16px; font-weight: 600;
}
.news-left p {
	font-size: 16px; font-weight: 300;
}
.news-box {
	padding: 30px 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.news-nav {
	margin: 30px 0px;
}
.news-nav li {
	text-align: center; font-size: 20px; margin-right: 5px; display: inline-block;
}
.news-nav li span {
	padding-top: 3px; margin-right: 12px; display: block;
}
.news-nav a {
	padding: 3px 12px 0px; color: rgb(255, 255, 255); display: block; background-color: rgb(29, 117, 183);
}
.news-right {
	width: 300px;
}
.news-right img {
	max-width: 70px;
}
.news-right .fl {
	width: 70px;
}
.news-right .fr {
	width: 215px;
}
.news-right h2 {
	padding-bottom: 10px; font-size: 22px; font-weight: 300; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.news-right h3 {
	color: rgb(29, 117, 183); font-size: 15px; font-weight: 300;
}
.news-right h3 a {
	color: rgb(29, 117, 183); font-size: 15px; font-weight: 300;
}
.news-side-box {
	padding: 20px 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.news-post-nav {
	padding-bottom: 15px;
}
.news-post-nav a {
	color: rgb(29, 117, 183); font-size: 18px;
}
.news-post-nav span {
	font-size: 14px;
}
.news-post .news-box {
	padding: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.news-post .news-left img {
	max-width: 100%;
}
.news-left .fl.news-post-img {
	width: 100%; float: none;
}
.news-left .fr.news-post-txt {
	width: 100%; padding-top: 25px; float: none;
}
.news-left .fr.news-post-txt p {
	padding-bottom: 30px;
}
.page-404 {
	padding-top: 150px; padding-bottom: 150px; font-weight: 300;
}
.page-404 h1 {
	color: rgb(29, 117, 183); font-size: 200px; font-weight: 300;
}
.page-404 h3 {
	padding-bottom: 30px; font-size: 24px; font-weight: 300;
}
.page-404 p {
	padding-top: 70px; font-size: 18px; font-weight: 300;
}
.page-404 ul {
	padding-top: 20px;
}
.page-404 li {
	padding: 0px 13px 0px 12px; color: rgb(29, 117, 183); line-height: 30px; font-size: 16px; font-weight: 300; display: inline-block; position: relative;
}
.page-404 li::after {
	top: -2px; width: 1px; height: 30px; right: 0px; display: block; position: absolute; content: ""; background-color: rgb(29, 117, 183);
}
.page-404 li:last-child::after {
	display: none;
}
.page-404 li a {
	color: rgb(29, 117, 183);
}
.catalog-main {
	padding: 80px 0px;
}
.catalog-main .fl {
	padding-left: 60px;
}
.catalog-main h2 {
	padding-bottom: 15px; font-size: 30px; font-weight: 300;
}
.catalog-main h3 {
	padding-bottom: 15px; font-size: 24px; font-weight: 300;
}
.catalog-main p {
	padding-bottom: 15px; font-size: 17px;
}
.catalog-main p span {
	color: rgb(29, 117, 183);
}
.catalog-main label {
	font-size: 16px; font-weight: 300;
}
.catalog-box {
	padding: 20px; width: 340px; margin-right: 80px; background-color: rgb(235, 246, 255);
}
.catalog-box .btn {
	width: 100%;
}
#wp-footer {

}
#footer {

}
.footer-top {
	color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(29, 117, 183);
}
.footer-top li {
	line-height: 40px; letter-spacing: 1px; padding-right: 95px; font-size: 14px; display: inline-block;
}
.footer-top li:last-child {
	padding-right: 0px;
}
.footer-top a {
	color: rgb(255, 255, 255);
}
.footer-nav {
	padding: 23px 40px;
}
.footer-top .ac {
	padding: 20px; font-family: "Sawarabi Gothic"; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid;
}
.footer-top form {
	position: relative;
}
.footer-top .form-control {
	border-radius: 0px; border: 1px solid rgb(255, 255, 255); border-image: none; width: 340px; height: 40px; padding-right: 40px; box-shadow: none;
}
.footer-btn {
	top: 1px; width: 38px; height: 38px; text-align: center; right: 1px; line-height: 38px; font-size: 15px; position: absolute; background-color: rgb(29, 117, 183);
}
.footer-btn span {
	vertical-align: middle;
}
.footer-top form p {
	font-weight: 300; position: absolute;
}
.footer-bottom {
	padding: 20px 40px; color: rgb(255, 255, 255); font-family: "Sawarabi Gothic"; font-size: 14px; background-color: rgb(51, 51, 51);
}
.footer-bottom a {
	color: rgb(255, 255, 255); text-transform: uppercase; font-size: 14px;
}
.footer-bottom li {
	padding-left: 40px; display: inline-block;
}
.loading {
	background: rgba(255, 255, 255, 0.5); left: 0px; top: 0px; text-align: center; right: 0px; bottom: 0px; display: none; position: absolute; z-index: 1000;
}
.pop-up-warp {
	left: 0px; top: 0px; right: 0px; bottom: 0px; display: none; position: fixed; z-index: 9999; background-color: rgba(255, 255, 255, 0.98);
}
.pop-up-content {
	margin: 0px auto; width: 100%; font-family: "Sawarabi Gothic"; max-width: 620px;
}
.pop-up-content h2 {
	padding-bottom: 15px; font-size: 30px; font-weight: 400;
}
.pop-up-content p {
	padding-bottom: 20px; font-size: 17px;
}
.pop-up-content label {
	font-family: "Sawarabi Gothic"; font-size: 16px; font-weight: 400;
}
.pop-up-content .btn {

}
.btn-grey {
	padding: 14px 12px 11px; color: rgb(255, 255, 255); text-transform: uppercase; font-family: "Hind-Bold"; font-size: 13px; min-width: 190px; background-color: rgb(102, 102, 102);
}
a.btn-grey {
	padding: 14px 12px 11px; color: rgb(255, 255, 255); text-transform: uppercase; font-family: "Hind-Bold"; font-size: 13px; min-width: 190px; background-color: rgb(102, 102, 102);
}
#top-message {
	padding: 8px; text-align: center; font-size: 15px;
}
@media screen and (min-width:960px)
{
    #wrap {
        display: flex; min-height: 100vh; flex-direction: column;
    }
    .content {
        flex:1 1 0px; min-height: 490px;
    }
}
@media (min-width: 768px) {
    .profile-main .col-sm-6 {
        height: 380px;
    }
    .profile-mini-banner-05 {
        padding: 40px 100px;
    }
}
